<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{msg}}
    {{msg1}}
    <form action="pset" method="POST">
        {% csrf_token %}
        <label for="u1">USER ID</label>
        <input type="text" name="inus" id="u1" required><br>
        <label for="pass1">PASSWORD</label>
        <input type="password" name="inpass" id="pass1" required><br>
        <label for="pass2">CONFIRM PASSWORD</label>
        <input type="password" name="cnpass" id="pass2" required><br>
        <input type="submit" value="verify">
    </form>
    {{msg}}
</body>
</html>